Source: nvidia-kernel-common
Section: contrib/kernel
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders: Russ Allbery <rra@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.debian.org/pkg-nvidia/packages/nvidia-kernel-common/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nvidia/packages/nvidia-kernel-common/

Package: nvidia-kernel-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: module-init-tools, ${misc:Depends}
Description: NVIDIA binary kernel module support files
 This package contains support files used for any version of the NVIDIA
 kernel module.  It sets up udev and ConsoleKit rules, ensures the NVIDIA
 control device is created, associates the NVIDIA card with the correct
 kernel module, and performs any other tasks required for the module to
 work properly.
