#!/usr/bin/make -f
%:
	dh $@

override_dh_installinit:
	dh_installinit --name=nvidia-kernel -- start 20 2 3 4 5 .
override_dh_install:
	dh_install
	mv $(CURDIR)/debian/nvidia-kernel-common/etc/modprobe.d/nvidia-kernel.modules-2.6 $(CURDIR)/debian/nvidia-kernel-common/etc/modprobe.d/nvidia-kernel-nkc.conf
